
<table id="listClient" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Iban</th>
                <th >Read / Update / Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td id="#developer">{{ client.name }}  {{client.surnames}}</td>
                <td id="#developer">{{client.email}}</td>
                <td id="#developer">{{client.phone}}</td>
                <td id="#developer">{{client.iban}}</td>
                <td class="">
                    <button type="button" class="read-client btn btn-sm btn-primary" data-id="{% url 'read_client' client.pk %}">
                      <i class="fas fa-user-cog"></i>
                    </button>
                    <button type="button" class="update-client btn btn-sm btn-primary" data-id="{% url 'update_client' client.pk %}">
                      <i class="fas fa-user-edit"></i>
                    </button>
                    <button type="button" class="delete-client btn btn-sm btn-danger" data-id="{% url 'delete_client' client.pk %}">
                      <i class="fas fa-user-minus"></i>
                    </button>

                </td>
            </tr>
            {% endfor%}
        </tbody>

    </table>

