:root{
    --primero: #8bc34a;
    --segundo: #03a9f4;
    --tercero: #ab47bc;
    --cuarto: #ffb300;
    --gris: #ecf0f5;
    --azul: #25476a;
}
html {
    height: 100%;
}

.invalid {
  color: #dc3545;
  font-size: 80%;
}

.footer {
  margin: auto 0 0;
  height: 56px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
body.login {
    background-image: url(../img/fondo-binario.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body.login .contenido{
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 33px 0px rgba(23,76,94,1);
-moz-box-shadow: 8px 8px 33px 0px rgba(23,76,94,1);
box-shadow: 8px 8px 33px 0px rgba(23,76,94,1);
}
.btn-primary, 
.bg-primary {
    background-color: var(--segundo)!important;
}
.bd-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
}
aside {
    width: 260px;
    height: 100%;
    margin-top: 56px;
    padding-bottom: 61px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1029;
}

