{% extends 'core/base.html' %}
{% block content %}
    {% if not request.user.is_authenticated %}
      <script>window.location.href = '/accounts/login/'; </script>
    {% endif %}
{% include "core/top_navigation.html" %}
{% include "core/_modal.html" %}

  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <h3 class="mb-4">Se ha cambiado la Contraseña correctamente</h3>
        <p>Para volver a visualizar el perfil haz clic <a href="{% url 'read_user' user.id%}">aquí</a>.</p>
      </div>
    </div>
  </div>


{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript">
  $(document).ready(function() {
$('#developers').pageMe({
pagerSelector: '#developer_page',
showPrevNext: true,
hidePageNumbers: false,
perPage: 3
});
});
    $(function () {

      // Create client button
      $(".create-client").modalForm({formURL: "{% url 'create_client' %}"});

      // Update client buttons
      $(".update-client").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Read client buttons
      $(".read-client").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Delete client buttons
      $(".delete-client").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      })

      // Hide message
      $(".alert").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
      });

    });
  </script>
{% endblock extrascripts %}
