{% extends 'core/base.html' %}
{% block content %}
    {% if not request.user.is_authenticated %}
      <script>window.location.href = '/accounts/login/'; </script>
    {% endif %}
{% include "core/top_navigation.html" %}
{% include "core/_modal.html" %}

<div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4">Cambio de contraseña</h3>
            <p>Por favor, introduzca su contraseña antigua por seguridad, y después introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>
            {{form.old_password.errors}}
            <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="Contraseña antigua"></p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Contraseña nueva"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Contraseña nueva (confirmación)"></p>
            <p><input type="submit" class="btn btn btn-outline-primary btn-block" value="Cambiar mi contraseña"></p>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}

{% block extrascripts %}
  <script type="text/javascript">
  $(document).ready(function() {
$('#developers').pageMe({
pagerSelector: '#developer_page',
showPrevNext: true,
hidePageNumbers: false,
perPage: 3
});
});
    $(function () {

      // Create client button
      $(".create-client").modalForm({formURL: "{% url 'create_client' %}"});

      // Update client buttons
      $(".update-client").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Read client buttons
      $(".read-client").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Delete client buttons
      $(".delete-client").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      })

      // Hide message
      $(".alert").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
      });

    });
  </script>
{% endblock extrascripts %}
